.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
}
@media (prefers-reduced-motionDISABLED: no-preference) {

}

.App-header {
  background-color: #1db2bd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2.8);
  }
}
